    body {background-color: lightblue;}

    header {
    background-color: darkgreen;
    color: white;}

    header, footer, h1{
    background-color: indianred;
    color: white;}

    .border {
    border: thick solid blue;
	}

	#experience {
    border: thick dashed orange;
	}


    #outside {
    border: thin black solid;
    width: 400px;
    height: 200px;
    background-color: #800d14;
    margin-left: 50px;
    margin-top: 50px
    }